<!-- Page Heading -->
<h1 class="my-4">MES LIVRES</h1>

<hr>

<!-- Sidebar Widgets Column -->
<div class="col-md-4">

  <!-- Search Widgets -->
  <div class="card my-4">
    <h5 class="card-header bg-dark" style="color: #ffffff;">Rechercher</h5>
    <div class="card-body">
      <div class="input-group">
        <input ng-model="$ctrl.query" type="text" class="form-control" placeholder="Rechercher...">
      </div>
    </div>
  </div>

  <!-- Categories Widget -->
  <div class="card my-4">
    <h5 class="card-header bg-dark" style="color: #ffffff;">Filtrer par :</h5>
    <div class="card-body">
      <div class="row">         
        <div class="input-group mb-3">
          <select class="custom-select" ng-model="$ctrl.orderProp">
            <option value="title">Ordre alphabétique</option>
            <option value="age">Date(décroissant)</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Book List --> 
<div class="row" 
 ng-repeat="book in $ctrl.books | filter:$ctrl.query | orderBy:$ctrl.orderProp" 
 style="padding-bottom: 18px;">
  <div class="col-md-3" >
    <img class="img-fluid rounded mb-3 mb-md-0" ng-src="{{book.image}}" alt="{{book.name}}" style="width: 250px;">
  </div>
  <div class="col-md-5">
    <h3>{{book.title}}</h3>
    <p>{{book.author}}</p>
    <p>{{book.date}}</p>
    <p>{{book.genre}}</p>
    <a class="btn bg-dark" href="#!/books/{{book.id}}" style="color: #ffffff;">En savoir plus</a>

    <hr>

  </div>
</div>
<!-- /.row -->